<div class="bg-gray-900 py-5 vh-100 text-white">
  <section class="container flex align-items-center justify-evenly h-100">
    
      <div>
        <%= render partial: "images/female_avatar_svg"%>  
      </div>

      <div >
        <h2 class="h2">Create an Account</h2>
        <p class="fw-light mb-5">Register with user email</p>

        <%= form_for @user, url: create_user_path do |f| %>
          
          <div class="mb-3">
            <%= f.label :email , class:"form-label"%><br />
            <%= f.email_field :email, autofocus: true,autocomplete: "email", class:"form-control" %>
          </div>

        <div class="flex mb-3">
          <div class="mr-2">
            <%= f.label :first_name, class:"form-label" %><br />
            <%= f.text_field :first_name, class:"form-control" %>
          </div>

          <div>
            <%= f.label :last_name, class:"form-label" %><br />
            <%= f.text_field :last_name, class:"form-control" %>
          </div>
        </div>

          <div class="mb-3">
            <%= f.label :password, class:"form-label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, class:"form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Create Account", class:"mb-3 btn bg-yellow-400 w-full" %>
          </div>
        <% end %>
      </div> 

      <div>
         <h1 class="absolute bottom-5 left-5 h3 text-yellow-400 hover:text-red-400 animated pulse"> <%= link_to '<< Back', :back %></h1> 
      </div>

     
   </section>
</div>