
<div class="pt-14 bg-dark text-white vh-100 ">
    <div class="container flex flex-col">   
        <div class="flex justify-between align-items-center my-8" >
            
            <h2 class="h5">Markets</h2>
            
            <div class = "flex">
                <%= form_with url: search_path, class:"input-group" do |f|%>
                    <div id="myDropdown" class="dropdown-content">
                        <%= f.text_field :symbol, placeholder:"Search Stock Name", id:"myInput", onkeyup:"filterFunction()", onfocus: "show()", onfocusout: "show()", class:"h-full p-2" %>
                        <ul id="choices" class="overflow-y overflow-x-hidden max-h-96 absolute w-full hidden">
                        <% @all_stocks.each do |stock| %>
                            <li onclick="search(this)"><%= stock.symbol %></li>
                        <% end %>
                        </ul>    
                    </div>

                    
                    <%= button_tag(type:'submit', class:"bg-yellow-400 p-2 rounded-end") do %>
                        <%= render partial: "images/search_svg"%>
                        <%# <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="20px" height="20px"><path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"/></svg> %>
                    <% end %>
                    
                <% end %> 
            </div>
        </div>

        <table class="table table-dark">
            <tr>
                <th colspan="2">Name</th>
                <th>Price</th>
                <th>Change</th>
                <th>Volume</th>
                <th>Market Cap</th>
                <th></th>
            </tr>
            <% @all_stocks.each do |stock| %>
             
            <tr>
                <td><%= stock.symbol %></td>
                <td><%= Stock.iex_api.company(stock.symbol).company_name %></td>
                <td><%= Stock.iex_api.price(stock.symbol) %></td>
                <% if Stock.iex_api.quote(stock.symbol).change_percent.positive? %>
                    <td class="text-green-400"><%=Stock.iex_api.quote(stock.symbol).change_percent_s%></td> 
                <% else %>
                    <td class="text-red-400"><%=Stock.iex_api.quote(stock.symbol).change_percent_s%></td> 
                <% end %>
                <td><%= Stock.iex_api.key_stats(stock.symbol).avg_10_volume %></td>
                <td><%= Stock.iex_api.key_stats(stock.symbol).market_cap_dollar %></td>
                <td><%= link_to 'Trade', stock_path(stock.symbol), class:"text-yellow-400 hover:text-yellow-300" %>
              </tr>
            <% end %>
           
          
        </table>
        
        <div class="flex flex-col w-full align-items-center justify-content-center p-5">
            <p class="fw-lighter"> Showing 1 to 10 of 579 entries</p>
            <p ><%= paginate @all_stocks %></p>
        </div>
    </div>   
</div>

   </div>
