STOCKS
<br>
<br>
<%@top_10_stocks.each do |stock|%>
    <%= link_to stock_path(stock.symbol) do%>
        <%= stock.symbol %>
        <%= stock.company_name %>
        <%= stock.latest_price %>
        <%= stock.change_percent_s %>
        <%= stock.avg_total_volume %>
        <%= stock.market_cap %>
    <%end%>
    <br>
<%end%>


<h3>Search for stocks</h3>

<%= form_with url: search_path do |f| %>
    <div id="myDropdown" class="dropdown-content">
        <%= f.label :symbol %>
        <%= f.text_field :symbol, placeholder:"Search..", id:"myInput", onkeyup:"filterFunction()" %>
        <ul>
        <% @all_stocks.each do |stock| %>
            <li onclick="search(this)"><%= stock.symbol %></li>
        <% end %>
        </ul>

        <p>
        <%= f.submit %>
         </p>
    </div>
    
<% end %> 


   
