<div class="bg-gray-900 vh-100">
    <section class="bg-gray-900 mh-screen h-100 text-white container flex flex-col justify-content-center">

    <div class="flex place-items-center justify-between">
        <div>
            <h1 class="text-5xl">Buy & sell stocks in minutes</h1>
            <p class="fw-lighter text-lg py-3">Join the world's largest stock exchange</p>
            <% if user_signed_in? %>
                <p>Welcome, <%= current_user.first_name %>!<p>
            <%end%>
        
        </div>
       <div><%= render partial: "images/home_avatar_svg"%></div> 
    </div>

    <div class="top10-container my-5">
        <% @top10.each do |stock| %>
            <div class="card rounded-md border-gray-400">
                <div class="card-body bg-gray-800 rounded-md lh-sm">
                    <p class="card-text fw-light"><%= stock.symbol %></p>
                    <p class="card-text fs-4 fw-bold"><%= stock.latest_price %></p>
                    <% if stock.change_percent && stock.change_percent.positive? %>
                        <p class="card-text"><small class="text-green-400"><%= stock.change_percent_s %></small></p>
                    <% else %>
                        <p class="card-text"><small class="text-red-500"><%= stock.change_percent_s %></small></p>   
                    <%end%>
                </div>
            </div>
        <%end%>
    </div>

</section>
</div>