<div class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <%= link_to 'ACSC Stocks', root_path, class:"navbar-brand"  %>
            
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                    <% if user_signed_in? %> 
                        <% if current_user.admin %>
                            <%= link_to 'Add User', new_admin_path, class: "nav-item nav-link" %>
                        <% else %>
                            <%= link_to 'Market', stocks_path, class: "nav-item nav-link" %>
                            <%= link_to 'Portfolio',portfolio_path, class: "nav-item nav-link" %>
                            <%= link_to 'Cash in', payment_path, class: "nav-item nav-link" %>
                            <%= link_to "Account Settings", edit_user_registration_path, class: "nav-item nav-link" %>
                        <% end %>
                        <%= link_to 'Logout',destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>   
                    <% else %>
                        <%= link_to 'Login',new_user_session_path, class: "nav-item nav-link" %>
                        <%= link_to 'Signup',new_user_registration_path, class: "nav-item nav-link" %>
                    <% end %>

                </div>
            </div>
        </div>
    </nav>
</div>
